body {
    color: darkslategrey;
}

.main-container {
    background-color: lightgoldenrodyellow;
    width: 90%;
    max-width: 900px;
    min-width: 310px;
    margin: 0 auto;
}

.main-container h2 {
    text-align: left;
    padding-left: 50px;
}
header {
    text-align: center;
    color: darkslategrey;
    padding: 30px 0;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
@media (min-width: 600px) {
    .flex-container {
        height: 800px;
    }
}

.item {
    display: flex;
    flex: 1 1 200px;
    min-height: 200px;
    min-width: 200px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 1px;
    box-sizing: border-box;
}

.item:hover {
    border: 5px solid yellowgreen;
}

.item:active {
    color: white;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: darkslategrey;
    text-shadow: 0 0 2px wheat;
}



footer p {
    padding: 20px;
    color: darkslategrey;
}

/*=============================
 *     COLORS FOR BOXES       *
 *============================*/
.tomato {
    background-color: tomato;
}

.cornflowerblue {
    background-color: cornflowerblue;
}

.aquamarine {
    background-color: aquamarine;
}

.violet {
    background-color: violet;
}

.cadetblue {
    background-color: cadetblue;
}

.tan {
    background-color: tan;
}

.app header {
    
}
.app header h2 {
    display: block;
    background-color: rgba(135,206,250, 0.2);
    text-align: center;
    padding: 10px 2px;
    margin-left: -3px;
    margin-right: -3px;
    border: 1px solid rosybrown;
    box-shadow: 0 1px 5px rosybrown;
}

.showCode {
    background-color: gainsboro;
    padding: 20px;
    margin: 10px 50px;
    font-size: 12px;
    box-shadow: 3px 5px 10px darkgray;
    border-radius: 20% 0 30% 0;
    max-width: 700px;
}

@media (min-width: 480px) {
    .showCode {
        padding: 50px;
        font-size: 16px;
    }
}


.controller h3 {
    margin-top: 50px;
    margin-left: 50px;
}

.controller p {
    padding: 0 50px;
    color: darkslategrey;
}

p.border {
    padding: 5px 10px;
    margin: 0 50px 40px 50px;
    border: 1px solid black;
    background-color: rgba(240,240,240, 0.2);
    box-shadow: 0 0 2px black;
    border-radius: 5px;
}
