<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Binding</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="js/binding.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="main-container">

        <header>
            <a href="index.html"><div class="homeButton"><strong>Home</strong></div></a>
            <h1>Binding</h1>
            <h2>
                <ul>
                    <li>One-way Binding</li>
                    <li>One-Time Binding</li>
                    <li>Two-way Binding</li>
                </ul>
            </h2>
            <hr>
            <br>
        </header>

        <div class="app" ng-app="app">
            <header><h2>One-Way Binding</h2></header>
            <div class="showCode">
                <h3>Code:</h3>
                <p>In AngularJS, the code is:</p>
                <code ng-non-bindable>var app = angular.module("app", []);<br>
                    app.controller("oneWay", ["$scope", function($scope) {<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;$scope.a = 10;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;$scope.b = 20;<br>
                    }])</code>

                <hr><hr>
                <p>In the HTML, the code is:<br><br>
                Using an Expression: <br>
                    
                <code ng-non-bindable>The value of &lt;strong&gt;a&lt;/strong&gt; is {{a}}, and the value of &lt;strong&gt;b&lt;/strong&gt; is {{b}}</code>.</p>
                <hr>
                <p>Using ng-bind: <br>
                    in the HTML, the code is:<br>
                <code ng-non-bindable>The value of &lt;strong&gt;a&lt;/strong&gt; is &lt;span ng-bind="a"&gt;&lt;/span&gt;, and the value of &lt;strong&gt;b&lt;/strong&gt; is &lt;span ng-bind="b"&gt;&lt;/span&gt;</code>.</p>

            </div>
            <div class="oneWay controller" ng-controller="oneWay">
                <h3>One-way binding Using Expressions</h3>
                <p class="border">The value of <strong>a</strong> is {{a}}, and the value of <strong>b</strong> is {{b}}.</p>
                <hr>
                <h3>One-way binding Using ng-bind</h3>
                <p class="border">The value of <strong>a</strong> is <span ng-bind="a"></span>, and the value of <strong>b</strong> is <span ng-bind="b"></span>.</p>
                <hr>
                <p>This can be useful in a situation where the UI is used only to display data generated elsewhere. 
                    Here the user is not interacting with the data, ie. the data cannot be changed by the user. It is <strong>Read-Only</strong>.
                    However the data will be updated in realtime as soon as it is modified in the models.<br>
                    Note that <strong>ng-bind</strong> can be used with non-input elements only.</p>
            </div>
            <hr>

            <header><h2>One-Time Binding</h2></header>
            <div class="showCode">
                <h3>Code:</h3>
                <p>In AngularJS, the code is:</p>
                <code ng-non-bindable>
                    app.controller("oneTime", ["$scope", function($scope) {<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;$scope.c = 10;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;$scope.d = 20;<br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;$scope.doubleValues = function() {<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope.c = $scope.c * 2;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope.d = $scope.d * 2;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;};<br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;$scope.sumValues = function() {<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope.sum = $scope.c + $scope.d;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;};<br>
                    }])</code>

                <hr><hr>
                <p>In the HTML, the code is:</p>
                <h4>This part changes</h4>
                <code ng-non-bindable>
                The value of &lt;strong&gt;c&lt;/strong&gt; is {{c}}, and the value of &lt;strong&gt;d&lt;/strong&gt; is {{d}}</code>.
                <hr>
                <h4>This part does not change</h4>
                <p>Notice the double colon in the expression.<br>
                <code ng-non-bindable>
                The &lt;em&gt;initial value&lt;/em&gt; of &lt;strong&gt;c&lt;/strong&gt; is {{::c}}, and the &lt;em&gt;initial value&lt;/em&gt; of &lt;strong&gt;d&lt;/strong&gt; is {{::d}}</code>.</p>
            </div>
            <div class="oneTime controller" ng-controller="oneTime">
                <h3>One-way binding (Using Expressions) - updates</h3>
                <p class="border">The value of <strong>c</strong> is {{c}}, and the value of <strong>d</strong> is {{d}}.</p>
                <hr>
                <h3>One-Time binding (Using Expressions) - does not update</h3>
                <p>This uses double colon <strong>::</strong></p>
                <p class="border">The <em>initial value</em> of <strong>c</strong> is {{::c}}, and the <em>initial value</em> of <strong>d</strong> is {{::d}}.</p>
                <p>Notice how the values of c and d are not changing as we only want the initial value and that is what the code is saying.</p>
                <hr>
                <button class="action" ng-click="doubleValues()">Click to Double (c & d)</button>
                <button class="action" type="button" ng-click="sumValues()">Get sum of C and D</button>
                <p>The sum of the <em>current</em> <strong>c</strong> and <em>current</em> <strong>d</strong> is:</p>
                <p class="border">Sum = {{sum}}</p>
                <p><em>Note that sum does not update when the values of c and d is doubled. You need to run the method to sum the new values by clicking the appropriate button above.</em></p>
                <p>This can be useful in a situation where we need to keep tab of certain initial values to see how much they have changed.</p>
            </div>
            <hr>






            <header><h2>Two-Way Binding</h2></header>
            <div class="showCode">
                <h3>Code:</h3>
                <p>In AngularJS, the code is:</p>
                <code ng-non-bindable>
                    app.controller("twoWay", ["$scope", function($scope) {<br>
                    &nbsp;&nbsp;$scope.e = 10;<br>
                    &nbsp;&nbsp;$scope.f = 15;<br>
                    <br>
                    &nbsp;&nbsp;$scope.addNumbers = function() {<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;$scope.sum = parseInt($scope.e) + parseInt($scope.f);<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;//The parsing is required as we will be getting input from user as a string.<br>
                    &nbsp;&nbsp;};<br>
                    }])</code>

                <hr><hr>
                <p>In the HTML, the code is:</p>
                
                <h4>Display of current values of e and f</h4>
                <p>These update in real-time as the user types into the input boxes below.</p>
                <code ng-non-bindable>
                The value of &lt;strong&gt;e&lt;/strong&gt; is {{e}}, and the value of &lt;strong&gt;f&lt;/strong&gt; is {{f}}.</code>
                
                <h4>Input of new values for e and f</h4>
                <code ng-non-bindable>
                New value for e: &lt;input type="text" ng-model="e"/&gt;<br>
                New value for f: &lt;input type="text" ng-model="f"/&gt;</code>
                
                <h4>Display of the sum</h4>
                <code ng-non-bindable>
                Sum = {{sum}}</code>
            </div>

            <div class="oneTime controller" ng-controller="twoWay">
                <h3>Two-way binding (Using Expressions) - This is the output</h3>
                <p>The values of e and f update in real-time as the user types into the input boxes below.</p>
                <p class="border">The value of <strong>e</strong> is {{e}}, and the value of <strong>f</strong> is {{f}}.</p>
                <hr>
                <h3>Two-way binding - This acts as input</h3>
                <p>This uses <strong>ng-model</strong></p>
                <p>New value for e: <input type="text" ng-model="e"/></p>
                <p>New value for f: <input type="text" ng-model="f"/></p>
                <p>Notice how the values of e and f in the output display above change automatically as we type in the new values.</p>
                <hr>
                <button class="action" type="button" ng-click="addNumbers()">Add e and f</button>


                <p>The sum of the <em>current</em> <strong>e</strong> and <em>current</em> <strong>f</strong> is:</p>
                <p class="border">Sum = {{sum}}</p>
                <p><em>Note that sum does not update when the values of e and f is changed. You need to run the method to sum the new values by clicking the button above.</em></p>
                
            </div>
            <hr>
        </div>

        <footer>
            <br><hr><br>
            <p>Created and coded by Anthony Bonello, 2017.</p>
        </footer>

    </div>
    
</body>
</html>